
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    background-image: url('tlo.jpeg'); 
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 5px solid #333;
    background-color: #f9f9f9;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}


section#services h3 {
    font-size: 1.6em;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
}

section#services p {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    section h2 {
        font-size: 1.8em;
    }

    blockquote {
        font-size: 1em;
    }

    section#services h3 {
        font-size: 1.4em;
    }

    footer p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        font-size: 1.1em;
    }

    main {
        padding: 5px;
    }

    section h2 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }

    section#services h3 {
        font-size: 1.2em;
    }

    footer p {
        font-size: 0.8em;
    }
}
